/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { font-family: arial, sans-serif;}

.container { width: 960px; margin: 0 auto; }

header {
    padding: 15px 0;
}
header h2 {
    font-size: 26px;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

header .shopping-cart {
    vertical-align: middle;
    width: 80%;
    display: inline-block;
    text-align: right;
}
header .shopping-cart img {
    width: 40px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
header .shopping-cart h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.hero-image { position: relative; }

.hero-image img { max-width: 100%;}

.hero-image p { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 45px; font-weight: bold; background: rgba(255,255,255,0.9); padding: 15px 25px; border: 2px solid white;}

.hero-text { text-align: center; background: #333; padding: 35px 0;}
.hero-text p { color: #fff; font-size: 32px; }

.instructions { text-align: center; padding: 20px 0; border-bottom: 1px solid #777;}
.instructions p { font-style: italic; color: #777; font-size:21px; }

.products {text-align: center;padding: 20px 0;}
.product {width: 31%;margin: 0 5px 10px 5px;display: inline-block;border: 2px solid #333;}
.product-title {background: #333;padding: 15px 10px;}
.product-title h3 { color: #fff; font-weight: bold; font-size: 22px;}
.product-image {position: relative;padding: 10px;}
.product-image img {max-width: 100%;max-height: 180px;}
.product-image .price {top: -2px;right: -2px;position: absolute; border: 2px solid #333;}
.product-image .price p { color: #555; padding: 5px 10px; font-size: 16px; }
.product-button {background: #333;padding: 15px 10px;}
.product-button p { }
.product-button a {background: #F6B26B;color: #333;padding: 10px 15px;display: inline-block; cursor: pointer; -webkit-transition: transform 0.3s; transition: transform 0.3s;}

.product-button a:hover { transform: scale(1.05);}

.pagination-nav {padding: 20px 0 25px;}
.pagination-nav .prev {margin-right: 15px;}
.pagination-nav .next {margin-left: 15px;}
.pagination-nav a {padding: 0 5px; text-decoration: underline; color: #7FA8CA; cursor: pointer;}

footer { background: #333; text-align: center; padding: 40px 0;}
footer h2 {color: #f6b26b;text-transform: uppercase;font-size: 18px;margin-bottom: 13px;}
footer a { color: #fff;}
footer img {max-width: 15px;ma;max-height: 15px;width: auto;height: auto;}
footer .contact-info {margin-bottom: 5px;text-align: left;margin: 0 auto 7px;width: 160px;}
footer .contact-info img { display: inline-block; vertical-align: middle; }
footer .contact-info a {display: inline-block;vertical-align: middle;font-size: 12px;margin-left: 5px;}

